In [1]:
import pandas as pd

In [10]:
df1_fake = pd.read_csv("Fake.csv")
df1_fake['label'] = 0 #Fake news 
df1_true = pd.read_csv("True.csv")
df1_true['label'] = 1 #True news 

#Combining the fake and true data 
data = pd.concat([df1_fake.sample(n=7000), df1_true.sample(n=7100)])

#Make label into categorical data
data['label'] = data['label'].astype('category')

#Combine the text data into one column 
data['combined_text'] = data['title'] + '. ' +  data['text']

data = data.drop(data.columns[[2,3]], axis=1)
data = data.reset_index(drop=True)

In [11]:
data.head()

,title,text,label,combined_text
0,"Texas Moving To Ban Jews, Muslims, and Gays f...",Texas parents looking to adopt may soon be ban...,0,"Texas Moving To Ban Jews, Muslims, and Gays f..."
1,MUSLIM ACTIVISTS LAUNCH VOTER REGISTRATION DRI...,Who would ve guessed? A coalition of U.S.-base...,0,MUSLIM ACTIVISTS LAUNCH VOTER REGISTRATION DRI...
2,BREAKING: YOU’RE FIRED! FBI DIRECTOR JAMES COM...,Wow! This is clearly something the White House...,0,BREAKING: YOU’RE FIRED! FBI DIRECTOR JAMES COM...
3,Trump Whines Pathetically On Twitter Because ...,"Well, it seems that despite the efforts of not...",0,Trump Whines Pathetically On Twitter Because ...
4,UPDATE: STILL NO MEDIA COVERAGE AFTER THOUSAND...,Does anyone actually believe it s possible tha...,0,UPDATE: STILL NO MEDIA COVERAGE AFTER THOUSAND...

In [21]:
df2 = pd.read_csv('train.csv')
df2['combined_text'] = df2['title'] + '. ' + df2['text']
df2 = df2.drop(df2.columns[[0,2]], axis=1)
df2.dropna(subset=['combined_text'],axis=0,inplace=True)
df2.loc[df2['label'] == 0, 'label'] = -1
df2.loc[df2['label'] == 1, 'label'] = 0
df2.loc[df2['label'] == -1, 'label'] = 1

In [22]:
df2.head()

,title,text,label,combined_text
0,House Dem Aide: We Didn’t Even See Comey’s Let...,House Dem Aide: We Didn’t Even See Comey’s Let...,0,House Dem Aide: We Didn’t Even See Comey’s Let...
1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Ever get the feeling your life circles the rou...,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ..."
2,Why the Truth Might Get You Fired,"Why the Truth Might Get You Fired October 29, ...",0,Why the Truth Might Get You Fired. Why the Tru...
3,15 Civilians Killed In Single US Airstrike Hav...,Videos 15 Civilians Killed In Single US Airstr...,0,15 Civilians Killed In Single US Airstrike Hav...
4,Iranian woman jailed for fictional unpublished...,Print \nAn Iranian woman has been sentenced to...,0,Iranian woman jailed for fictional unpublished...

In [23]:
data = pd.concat([data, df2.sample(n=14000)])
data.head()

,title,text,label,combined_text
0,"Texas Moving To Ban Jews, Muslims, and Gays f...",Texas parents looking to adopt may soon be ban...,0,"Texas Moving To Ban Jews, Muslims, and Gays f..."
1,MUSLIM ACTIVISTS LAUNCH VOTER REGISTRATION DRI...,Who would ve guessed? A coalition of U.S.-base...,0,MUSLIM ACTIVISTS LAUNCH VOTER REGISTRATION DRI...
2,BREAKING: YOU’RE FIRED! FBI DIRECTOR JAMES COM...,Wow! This is clearly something the White House...,0,BREAKING: YOU’RE FIRED! FBI DIRECTOR JAMES COM...
3,Trump Whines Pathetically On Twitter Because ...,"Well, it seems that despite the efforts of not...",0,Trump Whines Pathetically On Twitter Because ...
4,UPDATE: STILL NO MEDIA COVERAGE AFTER THOUSAND...,Does anyone actually believe it s possible tha...,0,UPDATE: STILL NO MEDIA COVERAGE AFTER THOUSAND...

In [24]:
data.shape

(28100, 4)

In [25]:
data['label'].value_counts()

1    14309
0    13791
Name: label, dtype: int64

In [27]:
df3 = pd.read_csv('fake2.csv')
df3['combined_text'] = df3['title'] + '. ' + df3['text']
df3['label'] = 0
df3['label'] = df3['label'].astype('category')
df3.dropna(subset=['combined_text'],axis=0,inplace=True)

In [29]:
newDF3 = df3[['title','text','label','combined_text']].copy()
newDF3.head()

,title,text,label,combined_text
0,Muslims BUSTED: They Stole Millions In Gov’t B...,Print They should pay all the back all the mon...,0,Muslims BUSTED: They Stole Millions In Gov’t B...
1,Re: Why Did Attorney General Loretta Lynch Ple...,Why Did Attorney General Loretta Lynch Plead T...,0,Re: Why Did Attorney General Loretta Lynch Ple...
2,BREAKING: Weiner Cooperating With FBI On Hilla...,Red State : \nFox News Sunday reported this mo...,0,BREAKING: Weiner Cooperating With FBI On Hilla...
3,PIN DROP SPEECH BY FATHER OF DAUGHTER Kidnappe...,Email Kayla Mueller was a prisoner and torture...,0,PIN DROP SPEECH BY FATHER OF DAUGHTER Kidnappe...
4,FANTASTIC! TRUMP'S 7 POINT PLAN To Reform Heal...,Email HEALTHCARE REFORM TO MAKE AMERICA GREAT ...,0,FANTASTIC! TRUMP'S 7 POINT PLAN To Reform Heal...

In [30]:
data = pd.concat([data, newDF3.sample(n=1000)])
data.head()

,title,text,label,combined_text
0,"Texas Moving To Ban Jews, Muslims, and Gays f...",Texas parents looking to adopt may soon be ban...,0,"Texas Moving To Ban Jews, Muslims, and Gays f..."
1,MUSLIM ACTIVISTS LAUNCH VOTER REGISTRATION DRI...,Who would ve guessed? A coalition of U.S.-base...,0,MUSLIM ACTIVISTS LAUNCH VOTER REGISTRATION DRI...
2,BREAKING: YOU’RE FIRED! FBI DIRECTOR JAMES COM...,Wow! This is clearly something the White House...,0,BREAKING: YOU’RE FIRED! FBI DIRECTOR JAMES COM...
3,Trump Whines Pathetically On Twitter Because ...,"Well, it seems that despite the efforts of not...",0,Trump Whines Pathetically On Twitter Because ...
4,UPDATE: STILL NO MEDIA COVERAGE AFTER THOUSAND...,Does anyone actually believe it s possible tha...,0,UPDATE: STILL NO MEDIA COVERAGE AFTER THOUSAND...

In [31]:
data.shape

(29100, 4)

In [32]:
df4 = pd.read_csv('fb_news_text.csv')
df4.head()

,Unnamed: 0,title,text,date,label
0,0,The Impact of Debates? It's Debatable,The Impact of Debates? It's Debatable The quad...,2016-09-19,1.0
1,1,Details Emerge About NYC Bomb Suspect Ahmad Kh..., -- As police today captured the man wanted f...,2016-09-19,1.0
2,2,Donald Trump Repeats Calls for Police Profilin...,Donald Trump Repeats Calls for Police Profilin...,2016-09-19,1.0
3,3,"NY, NJ Bombings Suspect Charged With Attempted..."," -- Ahmad Khan Rahami, earlier named a person...",2016-09-19,1.0
4,4,Trump Surrogates Push Narrative That Clinton S..., -- Donald Trump's surrogates and leading sup...,2016-09-19,1.0

In [33]:
df4['label'].value_counts()

1.0    954
0.0     63
Name: label, dtype: int64

In [34]:
df4 = df4[df4.label == 1.0]

In [35]:
df4['combined_text'] = df4['title'] + '. ' + df4['text']
df4['label'] = 1
df4 = df4.drop(df4.columns[[0,3]], axis=1)
df4.dropna(subset=['combined_text'],axis=0,inplace=True)
df4.head()

,title,text,label,combined_text
0,The Impact of Debates? It's Debatable,The Impact of Debates? It's Debatable The quad...,1,The Impact of Debates? It's Debatable. The Imp...
1,Details Emerge About NYC Bomb Suspect Ahmad Kh..., -- As police today captured the man wanted f...,1,Details Emerge About NYC Bomb Suspect Ahmad Kh...
2,Donald Trump Repeats Calls for Police Profilin...,Donald Trump Repeats Calls for Police Profilin...,1,Donald Trump Repeats Calls for Police Profilin...
3,"NY, NJ Bombings Suspect Charged With Attempted..."," -- Ahmad Khan Rahami, earlier named a person...",1,"NY, NJ Bombings Suspect Charged With Attempted..."
4,Trump Surrogates Push Narrative That Clinton S..., -- Donald Trump's surrogates and leading sup...,1,Trump Surrogates Push Narrative That Clinton S...

In [36]:
data = pd.concat([data, df4.sample(n=900)])
data.head()

,title,text,label,combined_text
0,"Texas Moving To Ban Jews, Muslims, and Gays f...",Texas parents looking to adopt may soon be ban...,0,"Texas Moving To Ban Jews, Muslims, and Gays f..."
1,MUSLIM ACTIVISTS LAUNCH VOTER REGISTRATION DRI...,Who would ve guessed? A coalition of U.S.-base...,0,MUSLIM ACTIVISTS LAUNCH VOTER REGISTRATION DRI...
2,BREAKING: YOU’RE FIRED! FBI DIRECTOR JAMES COM...,Wow! This is clearly something the White House...,0,BREAKING: YOU’RE FIRED! FBI DIRECTOR JAMES COM...
3,Trump Whines Pathetically On Twitter Because ...,"Well, it seems that despite the efforts of not...",0,Trump Whines Pathetically On Twitter Because ...
4,UPDATE: STILL NO MEDIA COVERAGE AFTER THOUSAND...,Does anyone actually believe it s possible tha...,0,UPDATE: STILL NO MEDIA COVERAGE AFTER THOUSAND...

In [37]:
data.shape

(30000, 4)

In [38]:
data['label'].value_counts()

1    15209
0    14791
Name: label, dtype: int64

In [39]:
data['combined_text'].isna().sum()

0

In [40]:
data.to_csv('newData.csv',index=False)