In [112]:
import pandas as pd

In [113]:
df1_fake = pd.read_csv("Fake.csv")
df1_fake['label'] = 0 #Fake news 
df1_true = pd.read_csv("True.csv")
df1_true['label'] = 1 #True news 

#Combining the fake and true data 
data = pd.concat([df1_fake.sample(n=7000), df1_true.sample(n=7100)])

#Make label into categorical data
data['label'] = data['label'].astype('category')

#Combine the text data into one column 
data['combined_text'] = data['title'] + '. ' +  data['text']

data = data.drop(data.columns[[0, 1, 2, 3]], axis=1)
data = data.reset_index(drop=True)

In [114]:
data.head()

  label                                      combined_text
0     0   Trump Has A New Nickname For Bernie Sanders, ...
1     0  UAW BULLIES Print Names Of Non-Members In Righ...
2     0  “Get Out Of Your Trucks And Run Away”…OBAMA’S ...
3     0  #CNNBlackmails Private Citizen! Threatens to E...
4     0  Woman Just Rescued from #Harvey Flood Goes Off...

In [115]:
df2 = pd.read_csv('train.csv')
df2['combined_text'] = df2['title'] + '. ' + df2['text']
df2 = df2.drop(df2.columns[[0, 1, 2, 3]], axis=1)
df2.dropna(subset=['combined_text'],axis=0,inplace=True)
df2.loc[df2['label'] == 0, 'label'] = -1
df2.loc[df2['label'] == 1, 'label'] = 0
df2.loc[df2['label'] == -1, 'label'] = 1

In [116]:
df2.head()

   label                                      combined_text
0      0  House Dem Aide: We Didn’t Even See Comey’s Let...
1      1  FLYNN: Hillary Clinton, Big Woman on Campus - ...
2      0  Why the Truth Might Get You Fired. Why the Tru...
3      0  15 Civilians Killed In Single US Airstrike Hav...
4      0  Iranian woman jailed for fictional unpublished...

In [117]:
data = pd.concat([data, df2.sample(n=14000)])
data.head()

   label                                      combined_text
0      0   Trump Has A New Nickname For Bernie Sanders, ...
1      0  UAW BULLIES Print Names Of Non-Members In Righ...
2      0  “Get Out Of Your Trucks And Run Away”…OBAMA’S ...
3      0  #CNNBlackmails Private Citizen! Threatens to E...
4      0  Woman Just Rescued from #Harvey Flood Goes Off...

In [118]:
data.shape

(28100, 2)

In [119]:
data['label'].value_counts()

1    14283
0    13817
Name: label, dtype: int64

In [120]:
df3 = pd.read_csv('fake2.csv')
df3['combined_text'] = df3['title'] + '. ' + df3['text']
df3['label'] = 0
df3['label'] = df3['label'].astype('category')
df3.dropna(subset=['combined_text'],axis=0,inplace=True)

In [121]:
newDF3 = df3[['combined_text', 'label']].copy()
newDF3.head()

                                       combined_text label
0  Muslims BUSTED: They Stole Millions In Gov’t B...     0
1  Re: Why Did Attorney General Loretta Lynch Ple...     0
2  BREAKING: Weiner Cooperating With FBI On Hilla...     0
3  PIN DROP SPEECH BY FATHER OF DAUGHTER Kidnappe...     0
4  FANTASTIC! TRUMP'S 7 POINT PLAN To Reform Heal...     0

In [122]:
data = pd.concat([data, newDF3.sample(n=1000)])
data.head()

   label                                      combined_text
0      0   Trump Has A New Nickname For Bernie Sanders, ...
1      0  UAW BULLIES Print Names Of Non-Members In Righ...
2      0  “Get Out Of Your Trucks And Run Away”…OBAMA’S ...
3      0  #CNNBlackmails Private Citizen! Threatens to E...
4      0  Woman Just Rescued from #Harvey Flood Goes Off...

In [123]:
data.shape

(29100, 2)

In [124]:
df4 = pd.read_csv('fb_news_text.csv')
df4.head()

,Unnamed: 0,title,text,date,label
0,0,The Impact of Debates? It's Debatable,The Impact of Debates? It's Debatable The quad...,2016-09-19,1.0
1,1,Details Emerge About NYC Bomb Suspect Ahmad Kh..., -- As police today captured the man wanted f...,2016-09-19,1.0
2,2,Donald Trump Repeats Calls for Police Profilin...,Donald Trump Repeats Calls for Police Profilin...,2016-09-19,1.0
3,3,"NY, NJ Bombings Suspect Charged With Attempted..."," -- Ahmad Khan Rahami, earlier named a person...",2016-09-19,1.0
4,4,Trump Surrogates Push Narrative That Clinton S..., -- Donald Trump's surrogates and leading sup...,2016-09-19,1.0

In [125]:
df4['label'].value_counts()

1.0    954
0.0     63
Name: label, dtype: int64

In [126]:
df4 = df4[df4.label == 1.0]

In [127]:
df4['combined_text'] = df4['title'] + '. ' + df4['text']
df4['label'] = 1
df4 = df4.drop(df4.columns[[0, 1, 2, 3]], axis=1)
df4.dropna(subset=['combined_text'],axis=0,inplace=True)
df4.head()

   label                                      combined_text
0      1  The Impact of Debates? It's Debatable. The Imp...
1      1  Details Emerge About NYC Bomb Suspect Ahmad Kh...
2      1  Donald Trump Repeats Calls for Police Profilin...
3      1  NY, NJ Bombings Suspect Charged With Attempted...
4      1  Trump Surrogates Push Narrative That Clinton S...

In [128]:
data = pd.concat([data, df4.sample(n=900)])
data.head()

   label                                      combined_text
0      0   Trump Has A New Nickname For Bernie Sanders, ...
1      0  UAW BULLIES Print Names Of Non-Members In Righ...
2      0  “Get Out Of Your Trucks And Run Away”…OBAMA’S ...
3      0  #CNNBlackmails Private Citizen! Threatens to E...
4      0  Woman Just Rescued from #Harvey Flood Goes Off...

In [129]:
data.shape

(30000, 2)

In [130]:
data['label'].value_counts()

1    15183
0    14817
Name: label, dtype: int64

In [131]:
data['combined_text'].isna().sum()

0

In [132]:
data.to_csv('newData.csv')